section.footer
	div.container
		h1 Секция подвал (контактная инфо. ссылки на законы и правила)

script
	include ../public/js/for_carousel.js
	include ../public/js/navs.js
	include ../public/js/main.js
