doctype html
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		link(rel="stylesheet" href="/css/bootstrap.min.css")
		script(src="/js/bootstrap.bundle.min.js") 
		link(rel="stylesheet" href="/css/style.css")
		title Пицца и не только
	body
		include popup_good.pug
		header
			div.container
				div(class="row")
					div(class="logo col-2")
						a(href="/") 
							img(src="/img/pizza-logo.svg" alt="Logo")
					div(class="name col-8")
						h1 Пицца и точка
						h4 Любовь уходит, а пиццу можете заказать ВСЕГДА!
					div(class="login col-2")
						if user
							p #{user}
							a(href="/logout")
								img(src="/img/logout.svg" alt="logout")
						else
							p Вход
							a(href="/login") 
								img(src="/img/login.svg" alt="login")
