doctype html
html(lang="ru")
	head
		include head
	body
		include popup_good.pug
		header
			div.container
				div(class="row")
					div(class="logo col-2")
						a(href="/") 
							img(src="/img/pizza-logo.svg" alt="Logo")
					div(class="name col-8")
						h1 Пицца и точка
						h4 Любовь уходит, а пиццу можете заказать ВСЕГДА!
					div(class="login col-2")
						if user
							p(id="user" data-id=user_id data-is_admin=is_admin data-is_cook=is_cook) #{user}
							a(href="/logout" class="logout")
								img(src="/img/logout.svg" alt="logout")
						else
							a(href="/login" id="login")
								p Вход 
								img(src="/img/login.svg" alt="login")
