doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		link(rel="stylesheet" href="/css/bootstrap.min.css")
		script(src="/js/bootstrap.bundle.min.js") 
		link(rel="stylesheet" href="/css/style.css")
		title Пицца и не только
	body
		div(class="popup__bg")
			div.container
				div(class="popup-login")
					div(class="popup-login-header")
						ul(class="nav nav-tabs" id="loginTab" role="tablist")
							li(class="nav-item" role="presentation")
								button(class="nav-link active" id="login-tab" data-bs-toggle="tab" data-bs-target="#login-tab-pane" type="button" role="tab" aria-controls="login-tab-pane" aria-selected="true") Вход
							li(class="nav-item" role="presentation")
								button(class="nav-link" id="register-tab" data-bs-toggle="tab" data-bs-target="#register-tab-pane" type="button" role="tab" aria-controls="register-tab-pane" aria-selected="false") Регистрация
					hr
					div(class="tab-content" id="loginTabContent")
						div(class="tab-pane fade show active" id="login-tab-pane" role="tabpanel" aria-labelledby="login-tab" tabindex="0")
							form(action="/login/password" method="post")
								section
									label(for="username") Имя:
									input(id="username" name="username" type="text" autocomplete="username" required autofocus)
								section
									label(for="current-phone") Телефон:
									input(id="current-phone" name="phone" type="tel" autocomplete="current-phone" required)
								section
									label(for="current-password") Пароль:
									input(id="current-password" name="password" type="password" autocomplete="current-password" required)
								button(type="submit") Войти
						div(class="tab-pane fade" id="register-tab-pane" role="tabpanel" aria-labelledby="register-tab" tabindex="0") Tab 2 content
					img(src="/img/close.svg" class="close-popup")
				div(class="popup-good")
					div(class="popup-header")
						h1(class="popup-form-good name text-center")
					div(class="row")
						div.col-6
							img(class="popup-form-good img" src="" alt="")
						div.col-6
							p(class="popup-form-good description")
							h2(class="popup-form-good cost")
					img(src="/img/close.svg" class="close-popup")
					div(class="popup-footer")
						button(href="#" class="btn btn-primary add-to-cart popup-form-good id") В корзину
		header
			div.container
				div(class="row")
					div(class="logo col-2")
						a(href="/") 
							img(src="/img/pizza-logo.svg" alt="Logo")
					div(class="name col-8")
						h1 Пицца и точка
						h4 Любовь уходит, а пиццу можете заказать ВСЕГДА!
					div(class="login col-2")
						a(href="/login") 
							img(src="/img/login.svg" alt="login")
