meta(charset="UTF-8")
meta(name="viewport" content="width=device-width, initial-scale=1.0")
link(rel="stylesheet" href="/css/bootstrap.min.css")
script(src="/js/bootstrap.bundle.min.js") 
//-script(src="/js/lib/libadmin.js" type="module")
link(rel="stylesheet" href="/css/all.min.css")
link(rel="stylesheet" href="/css/style.css")
title Пицца и не только
