include header
//-nav
//-	div.container
//-		div.row
//-			div(class="nav col-10")
//-				ul.nav
//-					li(class="nav-item")
//-						a(href="#" class="nav-link active") 
//-					li(class="nav-item")
//-						a(class="nav-link" href="#") Ссылка
//-					li(class="nav-item")
//-						a(class="nav-link" href="#") Ссылка
//-					li(class="nav-item")
//-						a(class="nav-link disabled") Отключенная
if stock.length !=0
	include promo
include main
include footer