include header
div(class="popup-login")
	div(class="popup-login-header")
		ul(class="nav nav-tabs" id="loginTab" role="tablist")
			li(class="nav-item" role="presentation")
				button(class="nav-link active" id="login-tab" data-bs-toggle="tab" data-bs-target="#login-tab-pane" type="button" role="tab" aria-controls="login-tab-pane" aria-selected="true") Вход
			li(class="nav-item" role="presentation")
				button(class="nav-link" id="register-tab" data-bs-toggle="tab" data-bs-target="#register-tab-pane" type="button" role="tab" aria-controls="register-tab-pane" aria-selected="false") Регистрация
	hr
	div(class="tab-content" id="loginTabContent")
		if message != ''
			h1 #{message}
		div(class="tab-pane fade show active" id="login-tab-pane" role="tabpanel" aria-labelledby="login-tab" tabindex="0")
			form(action="/login" method="post")
				//-section
				//-	label(for="username") Имя:
				//-	input(id="username-login" name="username" type="text" autocomplete="on" required autofocus)
				section
					label(for="current-phone") Телефон:
					input(class="tel" id="current-phone-login" name="phone" type="tel" autocomplete="on" required)
				section
					label(for="current-password") Пароль:
					input(id="current-password-login" name="password" type="password" required)
				button(type="submit" class="btn btn-primary") Войти
		div(class="tab-pane fade" id="register-tab-pane" role="tabpanel" aria-labelledby="register-tab" tabindex="0")
			h3 Телефон должен быть подключен к WhatsApp
			form(action="/signup" method="post" id="signupForm" enctype="multipart/form-data")
				section
					label(for="username") Имя:
					input(id="username" name="username" type="text" autocomplete="on" required autofocus)
				section
					label(for="current-phone") Телефон:
					input(class="tel" id="current-phone" name="phone" type="tel" autocomplete="on" required)
					button(id="get-code" class="btn btn-primary" type="button") Получить код
						p(id="timer")
				section(id="code")
					label(for="input-code") Код проверки:
					input(id="input-code" name="code" type="text" required)
				section
					label(for="current-phone") Адрес:
					input(id="current-addres" name="addres" type="text" autocomplete="on" required)
				section
					label(for="current-phone") email:
					input(id="current-email" name="email" type="email" autocomplete="on")
				section
					label(for="current-password") Пароль:
					input(id="current-password" name="password" type="password" autocomplete="current-password" required)
				button(type="submit" class="btn btn-primary") Зарегистрироваться
		a(class="recovery" href="/recovery") Забыли пароль?
	a(href="/")
		img(src="/img/close.svg" class="close-popup")
script
	include ../public/js/login.js