.container {
  max-width: 1200px;
  /*flex-grow: 1;*/
}

#adminTab {
  font-size: 1.5rem;
}

.container-admin {
  width: 90%;
  margin: 0 auto 0 auto;
  /*flex-grow: 1;*/
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  /*background-color: #c8dbe3;*/
  background-image: url("../img/prpmo_bg.jpg");
  background-size: cover;
  color: #eee;
  padding: 5px;
  border-bottom: 5px solid wheat;
}

.logo,
.login {
  justify-content: center;
  align-items: center;
  display: flex;
  font-size: 24px;
}

.logo img {
  width: 90px;
}

.login a {
  margin-left: 15px;
  text-decoration: none;
  color: #eee;
}

.login p {
  display: inline;
}

.promo h1 {
  color: #eee;
}

section.promo {
  background-image: url("../img/prpmo_bg.jpg");
  background-size: cover;
  color: #eee;
  text-align: center;
}

section.promo a {
  color: #eee;
  text-decoration: none;
}

div.promo {
  display: flex;
  align-items: center;
}

.carousel-inner {
  height: 25vh;
  width: 25vh;
}

.main {
  flex-grow: 1;
}

.main nav,
.wraper {
  background-color: wheat;
  font-size: 24px;
}

.main .content {
  background-color: beige;
}

.nav-link,
.nav-link:visited,
.nav-link:focus,
.nav-link:hover {
  color: #444;
}

.nav-link.active {
  font-weight: bold;
  background-color: tan;
}

.nav-link:hover {
  font-weight: bold;
}

nav.nav {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 100%;
}

.btn-primary {
  background-color: wheat;
  border-color: #444;
  color: #444;
}

.btn-primary:focus {
  background-color: wheat;
  border: 1px solid #444;
  color: #444;
  box-shadow: none;
}

.btn-primary:hover {
  font-weight: bold;
  border-color: #444;
  color: #444;
  background-color: tan;
}

.popup__bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  opacity: 0;
  pointer-events: none;
  transition: 0.5s all;
  z-index: 1000;
}

.popup__bg.active {
  opacity: 1;
  pointer-events: all;
  transition: 0.5s all;
}

.popup-new-cat,
.popup-new,
.popup-upload,
.popup-good,
.popup-error {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  background-color: beige;
  min-width: 400px;
  transition: 0.5s all;
  min-height: 300px;
  padding: 10px;
  font-size: 25px;
}

.add-to-cart {
  visibility: hidden;
}

.add-to-cart.act {
  visibility: visible;
}

.popup-upload input,
.popup-upload label {
  width: 96%;
  font-size: 25px;
  margin: 2%;
  text-align: center;
}

.input-file-list-remove {
  color: red;
  text-decoration: none;
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 30px;
  font-weight: 700;
}

.popup-login #loginTabContent,
button {
  width: 100%;
  font-size: 25px;
}

.show-img,
.download-img {
  font-size: 1.2rem;
  width: 100%;
}

#timer {
  margin-bottom: 0;
}

#get-code {
  clear: both;
  width: 20%;
  padding: 5px 5px;
}

#current-phone {
  width: 50%;
}

.popup-login input {
  width: 70%;
  vertical-align: top;
}

.popup-login {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: beige;
  min-width: 400px;
}

#preview,
#previewNew {
  position: relative;
}

.popup-error-name,
.popup-error-message {
  color: red;
}

.popup-login h1 {
  color: red;
}

.popup-login-header .nav {
  min-height: 80px;
  font-size: 25px;
}

#loginTabContent .tab-pane {
  min-height: 300px;
  padding: 10px;
}

#loginTabContent section {
  clear: both;
  text-align: right;
  line-height: 25px;
  margin-bottom: 10px;
  vertical-align: middle;
}

#loginTabContent label {
  float: left;
  padding-right: 10px;
}

#loginTabContent {
  float: left;
}

.popup-new-cat,
.popup-new.active,
.popup-upload.active,
.popup-good.active,
.popup-error.active {
  transform: translate(-50%, -50%) scale(1);
  transition: 0.5s all;
}

.close-popup {
  position: absolute;
  width: 60px;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.popup-good p {
  text-indent: 40px;
}

.popup-header {
  background-color: wheat;
  padding: 15px;
}

.popup-footer {
  padding: 25px;
}

.popup-form-good.img {
  width: 100%;
}

.cart-order {
  transform: scale(0);
  transition: 0.5s all;
}

.cart-order.active {
  transform: scale(1);
  transition: 0.5s all;
  cursor: pointer;
}

section.footer {
  flex-shrink: 0;
}

section.delivery {
  font-size: 1.5rem;
  text-align: center;
}

input[type=checkbox] {
  transform: scale(2);
  margin: 10px;
}

.control {
  padding: 10px;
  border: 2px solid #999;
  display: flex;
  justify-content: space-between;
}

.table-category,
.table-order,
.table-goods,
.table-users {
  width: 100%;
  font-size: 1.5rem;
}

.table-category tr:nth-child(2n),
.table-order tr:nth-child(2n),
.table-goods tr:nth-child(2n),
.table-users tr:nth-child(2n) {
  background: beige;
}

.table-category th,
.table-order th,
.table-goods th,
.table-users th {
  border: 1px solid grey;
  text-align: center;
  padding-left: 7px;
  padding-right: 7px;
}

.table-order .item-center {
  text-align: center;
}

.table-order .bold {
  font-weight: 700;
}

.currency {
  text-align: right;
}

.check {
  text-align: center;
}

td.edit {
  background-color: rgb(253, 234, 237);
}

td {
  border: 1px solid grey;
  padding: 5px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#cur-category {
  border: none;
  font-weight: 700;
  color: tomato;
}